# Maven
target/

# NetBeans
nbproject/private/
build/
dist/
nbbuild/
nbdist/
.nb-gradle/

# Eclipse
.classpath
.project
.settings/
.factorypath
.apt_generated/
.apt_generated_tests/

# IntelliJ IDEA
.idea/
*.iml

# Logs
*.log

# Environment
.env
.env.*
!.env.example

# Sistema
.DS_Store
Thumbs.db
